h1= title
p Conversor Xml - Bibtex

form(method="post", enctype="multipart/form-data")
 | Selecione o Arquivo para ser enviado: 
 input(type="file", name="imagem")
 input(type="submit", value="Enviar")

pre #{teste}
