body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #ccc;
}
a {
  color: #00b7ff;
}
pre {
  background: #f8f8ff;
  margin-top: 2cm;
  margin-left: 2cm;
}
